@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: futura;
    src: url(fonts/FuturaLT.ttf);
	-webkit-font-smoothing: antialiased;
	 text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
p{
	font-family:futura;
}
a{
	text-decoration:none;
}

html, body,#siteContainer {
	height:100%;
	width:100%;
	overflow:hidden;
	margin:0px;
	padding:0px;
	background-color:blue;
}
#pageContainer{
	position:absolute;
	height:400%;
	width:100%;
	overflow:scroll;
	overflow-x:hidden;
	margin:0px;
	padding:0px;
	background-color:blue;
}

.page{
	position:relative;
	float:top;
	height:20%;
	width:100%;
	background-image:url(images/bg1.png);
	background-repeat:repeat;
	background-color:#26527C;
}
#page1,#page3, #page5{
	background-image:url(images/bg2.png);
	background-repeat:repeat;
	background-color:#408AD2;
	
}

.pageLink{
	position:absolute;
	bottom:0px;
	right:0px;
	width:10%;
	height:10%;
	background-color:#26527C;
}
.leftPage{
	position:absolute;
	width:100%;
	left:0px;
	top:0px;
	height:35%;	
}
.rightPage{
	position:absolute;
	width:100%;
	left:15%;
	top:50%;
	height:40%;	
}
.fullPage{
	position:absolute;
	width:100%;
	right:0px;
	top:0px;
	height:100%;	
}
img#face{
	height:30%;
}
img#chicago{
	height:40%;
}
p#intro{
		position:absolute;
		height:60%;
		text-align:center;
		font-size:5vw;
		width:100%; 
}
p#outro{

		margin-top:0%;
}

.outside { 
  position: absolute;
  height:100%;
  width:100%;
  display: table; 
}

.inside {
  display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
}


h1,h3{
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}


.rotate{
    -webkit-transition-duration: 1.3s;
    -moz-transition-duration: 1.3s;
    -o-transition-duration: 1.3s;
    transition-duration: 1.3s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
     
    overflow:hidden;
 
    }  
 
.rotate:hover, 
{
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}  
.rotate:active
{
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}  
