@charset "utf-8";
/* CSS Document */



html, body,#siteContainer {
	height:100%;
	width:100%;
	overflow:hidden;
	margin:0px;
	padding:0px;
	background-color:blue;
}
#topBar{
	position:absolute;
	height:60px;
	top:0px;
	width:100%;
	background-color:purple;
	z-index:100;
}
#pageContainer{
	position:absolute;
	height:400%;
	width:100%;
	overflow:scroll;
	overflow-x:hidden;
	margin:0px;
	padding:0px;
	background-color:blue;
}

.page{
	position:relative;
	float:top;
	height:25%;
	width:100%;
	background-color:red;
}
#page1,#page3{
	background-color:blue;
}
.pageLink{
	position:absolute;
	bottom:0px;
	right:0px;
	width:10%;
	height:10%;
	background-color:red;
}
h1,h3{
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}